<div class="container p-5">
  <div class="container w-75 shadow p-5 rounded bg-light bg-opacity-50 my-0">
    <h3 class="mb-3">Addresses of Contact</h3>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Zip</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">House</th>
        <th scope="col">Note</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngFor="let item of addresses, let i=index">
      <tr>
        <td>{{item.zipCode}}</td>
        <td>{{item.city}}</td>
        <td>{{item.street}}</td>
        <td>{{item.houseNumber}}</td>
        <td>{{item.note}}</td>
        <td>
          <div>
            <button type="button" class="btn btn-danger mx-3"
                    (click)="openDeleteModal(item.id, item.street, item.houseNumber)">Delete
            </button>
            <button type="button" class="btn btn-primary mx-3"
                    (click)="editAddress(item.id)">Edit
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary mx-3"
            (click)="addNewAddress()">Add New Address
    </button>

  </div>
</div>


<!-- Modal -->
<div class="modal bg-light bg-opacity-50" id="confirmDeleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deleting Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this address?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeDeleteModal()">No, keep
          it
        </button>
        <button type="button" (click)="deleteAddress()" class="btn btn-danger">Yes, delete this address</button>
      </div>
    </div>
  </div>
</div>
