<div class="container p-5">
  <div class="container w-75 shadow p-5 rounded bg-light bg-opacity-50 my-0">

    <h3 class="mb-3" *ngIf="addressIndex > -1">Edit Address</h3>
    <h3 class="mb-3" *ngIf="addressIndex === -1">Add New Address</h3>

    <form [formGroup]="addressForm" (submit)="submitData()">
      <div class="mb-3">
        <label
          for="zipCode"
          class="form-label"
        >Zip Code:</label>
        <input
          type="text"
          class="form-control"
          id="zipCode"
          formControlName="zipCode">
      </div>

      <div class="mb-3">
        <label
          for="city"
          class="form-label"
        >City:<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city">
      </div>

      <small
        *ngIf="!addressForm.get('city')?.valid
                        && addressForm.get('city')?.touched
                        && !addressForm.get('city')?.errors?.['serverError']"
        class="text-danger"
      >City is a required field. Please enter a valid city name that is at least 2 characters long.
      </small>

      <small *ngIf="addressForm.get('city')?.errors?.['serverError']" class="text-danger">
        {{addressForm.get('city')?.errors?.['serverError']}}
      </small>


      <div class="mb-3">
        <label
          for="street"
          class="form-label"
        >Street:<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="street"
          formControlName="street">
      </div>

      <small
        *ngIf="!addressForm.get('street')?.valid
                        && addressForm.get('street')?.touched
                        && !addressForm.get('street')?.errors?.['serverError']"
        class="text-danger"
      >Street is a required field. Please enter a valid street name that is at least 2 characters long.
      </small>

      <small *ngIf="addressForm.get('street')?.errors?.['serverError']" class="text-danger">
        {{addressForm.get('street')?.errors?.['serverError']}}
      </small>


      <div class="mb-3">
        <label
          for="houseNumber"
          class="form-label"
        >House number:</label>
        <input
          type="text"
          class="form-control"
          id="houseNumber"
          formControlName="houseNumber">
      </div>

      <div class="mb-3">
        <label
          for="note"
          class="form-label"
        >Note:</label>
        <input
          type="text"
          class="form-control"
          id="note"
          formControlName="note">
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-success me-3 mb-2"
            id="okButton"
            [disabled]="addressForm.invalid"
          >Ok
          </button>
          <button
            type="submit"
            class="btn btn-secondary me-3 mb-2"
            id="cancelButton"
            (click)="cancelForm()"
          >Cancel
          </button>
        </div>
        <div class="col text-right">
          <p class="text-end"><sup>*</sup>Required fields</p>
        </div>
      </div>

    </form>
  </div>
</div>
