<div class="container p-5" *ngIf="contactDetails">
  <div class="container w-75 shadow p-5 rounded bg-light bg-opacity-50 my-0">
    <h3 class="mb-3">Contact Details </h3>
    <div class="row">
      <div class="col-md-auto">
        <h6>First Name: {{contactDetails.firstName}}</h6>
        <h6>Last Name: {{contactDetails.lastName}}</h6>
        <h6>Date of Birth: {{contactDetails.birthDate}}</h6>
        <h6>Mother's name: {{contactDetails.mothersName}}</h6>
        <h6>SSID: {{contactDetails.ssId}}</h6>
        <h6>Tax ID: {{contactDetails.taxId}}</h6>
        <h6>E-mail: {{contactDetails.email}}</h6>
      </div>
      <div class="col-md-auto d-flex flex-column justify-content-end align-items-center">
        <button type="button" class="btn btn-primary mx-3 mt-auto mb-2" (click)="editContactDetails(contactId)"
        >Edit Contact Details
        </button>
      </div>
    </div>
  </div>
</div>
