<div class="container p-5" *ngIf="contactDetails">
  <div class="container w-75 shadow p-5 rounded bg-light bg-opacity-75 my-0">
    <h3 class="mb-3">Contact Details </h3>
    <div class="row">
      <div class="col-md-auto">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <th scope="row">First Name:</th>
              <td>{{contactDetails.firstName}}</td>
            </tr>
            <tr>
              <th scope="row">Last Name:</th>
              <td>{{contactDetails.lastName}}</td>
            </tr>
            <tr>
              <th scope="row">Date of Birth:</th>
              <td>{{contactDetails.birthDate}}</td>
            </tr>
            <tr>
              <th scope="row">SSID:</th>
              <td>{{contactDetails.ssId}}</td>
            </tr>
            <tr>
              <th scope="row">Tax ID:</th>
              <td>{{contactDetails.taxId}}</td>
            </tr>
            <tr>
              <th scope="row">E-mail:</th>
              <td>{{contactDetails.email}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-auto d-flex flex-column justify-content-end align-items-end">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary btn-block mx-3 mb-2 w-100"
                  (click)="editContactDetails(contactId)">
            Edit Contact Details
          </button>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary btn-block mx-3 mb-2 w-100" (click)="backToMyContacts()">
            Back to My Contacts
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
