<div class="container py-4 px-0">
  <div class="container py-4 w-100 shadow rounded bg-light bg-opacity-75 my-0">
    <h5 class="mb-3">Phone Numbers of this Contact</h5>

    <div *ngIf="!phones || phones.length === 0; else phoneList">
      <p>No phone numbers available for this contact. You can add a phone by clicking the button below.</p>
    </div>

    <ng-template #phoneList>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Use</th>
          <th scope="col">Number</th>
          <th scope="col">Note</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngFor="let item of phones, let i=index">
        <tr *ngIf="!item.isDeleted">
          <td>{{item.phoneUseType}}</td>
          <td>{{item.phoneNumber}}</td>
          <td>{{item.note}}</td>
          <td>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary mx-3 btn-sm"
                      (click)="editPhone(i)">Edit
              </button>
              <button type="button" class="btn btn-danger mx-3 btn-sm"
                      (click)="openDeleteModal(i, item.phoneNumber)">Delete
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="item.isDeleted">
          <td>{{item.phoneUseType}}</td>
          <td>{{item.phoneNumber}}</td>
          <td>{{item.note}}</td>
          <td>
            <div class="d-flex justify-content-end">
              <p><i>Deleted Item</i></p>
              <button type="button" class="btn btn-secondary mx-3 btn-sm"
                      (click)="undeletePhone(i)">Undelete
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
    <button type="button" class="btn btn-secondary"
            (click)="addNewPhone()">Add New Phone
    </button>

  </div>
</div>


<!-- Modal -->
<div class="modal bg-light bg-opacity-50" id="confirmPhoneDeleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deleting Phone</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this phone number and its related info?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeDeleteModal()">No, keep
          it
        </button>
        <button type="button" (click)="deletePhone()" class="btn btn-danger">Yes, delete this phone</button>
      </div>
    </div>
  </div>
</div>
