<nav class="navbar navbar-expand-lg navbar-light bg-light bg-opacity-75">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Contacts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="registerUser" *ngIf="loggedInUser.role==='ADMIN'">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacts" *ngIf="loggedInUser.role==='ADMIN'||loggedInUser.role==='USER'">My
            Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="userChangePw/false" *ngIf="loggedInUser.isLoggedIn">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!loggedInUser.isLoggedIn">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacts" (click)="logout()" *ngIf="loggedInUser.isLoggedIn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
