<div class="container p-5">
  <div class="container w-75 shadow p-5 rounded bg-light bg-opacity-50 my-0">

    <h3 class="mb-3" *ngIf="existingAddressData">Edit Address</h3>
    <h3 class="mb-3" *ngIf="!existingAddressData">Add New Address</h3>

    <form [formGroup]="addressForm" (submit)="submitData()">
      <div class="mb-3">
        <label
          for="zipCode"
          class="form-label"
        >Zip Code:</label>
        <input
          type="text"
          class="form-control"
          id="zipCode"
          formControlName="zipCode">
      </div>

      <div class="mb-3">
        <label
          for="city"
          class="form-label"
        >City:<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city">
      </div>

      <div class="mb-3">
        <label
          for="street"
          class="form-label"
        >Street:<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="street"
          formControlName="street">
      </div>

      <div class="mb-3">
        <label
          for="houseNumber"
          class="form-label"
        >House number:</label>
        <input
          type="text"
          class="form-control"
          id="houseNumber"
          formControlName="houseNumber">
      </div>

      <div class="mb-3">
        <label
          for="note"
          class="form-label"
        >Note:</label>
        <input
          type="text"
          class="form-control"
          id="note"
          formControlName="note">
      </div>


      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-success"
          >Submit
          </button>
          <button
            type="submit"
            class="btn btn-secondary mx-3"
            (click)="cancelForm()"
          >Cancel
          </button>
        </div>
        <div class="col text-right">
          <p class="text-end"><sup>*</sup>Required fields</p>
        </div>
      </div>

    </form>
  </div>
</div>
