<div class="container p-5">
  <div class="container w-75 shadow p-5 rounded bg-light bg-opacity-75 my-0">

    <h3 class="mb-3" *ngIf="existingContactData">Edit Contact</h3>
    <h3 class="mb-3" *ngIf="!existingContactData">Add New Contact</h3>

    <form [formGroup]="contactForm" (submit)="submitData()">
      <div class="mb-3">
        <label
          for="firstName"
          class="form-label"
        >First Name:<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName">
      </div>

      <small
        *ngIf="!contactForm.get('firstName')?.valid
                        && contactForm.get('firstName')?.touched
                        && !contactForm.get('firstName')?.errors?.['serverError']"
        class="text-danger"
      >First Name is a required field. <br>Please enter a valid first name that is at least 3 characters long.
      </small>

      <small *ngIf="contactForm.get('firstName')?.errors?.['serverError']" class="text-danger">
        {{contactForm.get('firstName')?.errors?.['serverError']}}
      </small>

      <div class="mb-3">
        <label
          for="lastName"
          class="form-label"
        >Last Name:</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName">
      </div>

      <div class="mb-3">
        <label
          for="email"
          class="form-label"
        >E-mail:<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email">
      </div>

      <small
        *ngIf="!contactForm.get('email')?.valid
                        && contactForm.get('email')?.touched
                        && !contactForm.get('email')?.errors?.['serverError']"
        class="text-danger"
      >Email is a required field.<br> Please enter a valid first email that is at least 3 characters long.
      </small>

      <small *ngIf="contactForm.get('email')?.errors?.['serverError']" class="text-danger">
        {{contactForm.get('email')?.errors?.['serverError']}}
      </small>

      <div class="mb-3">
        <label
          for="birthDate"
          class="form-label"
        >Birth Date:</label>
        <input
          type="date"
          class="form-control"
          id="birthDate"
          formControlName="birthDate">
      </div>

      <div class="mb-3">
        <label
          for="mothersName"
          class="form-label"
        >Mothers Name:</label>
        <input
          type="text"
          class="form-control"
          id="mothersName"
          formControlName="mothersName">
      </div>

      <div class="mb-3">
        <label
          for="ssId"
          class="form-label"
        >Social Security ID:</label>
        <input
          type="text"
          class="form-control"
          id="ssId"
          formControlName="ssId">
      </div>

      <div class="mb-3">
        <label
          for="taxId"
          class="form-label"
        >Tax Id:</label>
        <input
          type="text"
          class="form-control"
          id="taxId"
          formControlName="taxId">
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="contactForm.invalid"
          >Submit
          </button>
          <button
            type="submit"
            class="btn btn-secondary mx-3"
            (click)="cancelForm()"
          >Cancel
          </button>
        </div>
        <div class="col text-right">
          <p class="text-end"><sup>*</sup>Required fields</p>
        </div>
      </div>

    </form>
  </div>
</div>
